h1 {
  margin: 25px 0px 25px 0px;
  cursor: default;
}

.task-icon {
  font-size: 1.8rem;
  color: grey;
  margin-right: 10px;
}

.no-of-tasks {
  font-size: 0.75rem;
  margin-left: 5px;
}

.no-of-tasks:hover {
  cursor: default;
}

.animate-no-of-tasks {
  animation: pop 0.25s ease-in-out;
}

@keyframes pop {
  0% {}
  50% {transform: scale(1.25);}
  100% {transform: scale(1);}
}
