h1 {
  margin: 25px 0px 25px 0px;
}

.task-icon {
  font-size: 1.8rem;
  color: grey;
  margin-right: 10px;
}

.no-of-tasks {
  font-size: 0.75rem;
  margin-left: 5px;
}

.no-of-tasks:hover {
  cursor: default;
}