.options-menu {
  background-color: #525252;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 20px;
}

.options-menu:hover {
  box-shadow: rgba(0, 0, 0, 0.233) 0px 0px 7.5px;
}

.options-menu-button {
  margin-right: 10px;
}