@media(min-width: 320px) { /* Mobile */
  .task-item {
    height: 170px;
    margin: 0px 1px 20px 1px;
    align-items: center;
    color: #525252;
    border: #D4D4D5 solid 1px;
    border-radius: 5px;
    transition: all 0.2s;
  }

  .id-column {
    text-align: center;
  }

  .middle-buttons button {
    margin-right: 1px;
    font-size: 0.75rem;
  }

  .padding {
    margin-bottom: 10px;
  }

  .complete-delete {
    font-size: 0.75rem;
  }
}

@media(min-width: 768px) {
  .task-item {
    margin-bottom: 20px;
    height: 75px;
  }

  .padding {
    margin-bottom: 0px;
  }
}


.task-item:hover {
  box-shadow: rgba(0, 0, 0, 0.233) 0px 0px 3px;
}


.id {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 10px;
}

.task-name {
  font-weight: 600;
}
