@media(min-width: 320px) { /* Mobile */
  .task-item {
    height: 250px;
    margin: 0px 1px 20px 1px;
    align-items: center;
    color: #525252;
    border: #D4D4D5 solid 1px;
    border-left: 0px;
    border-right: 0px;
    /* border-radius: 5px; */
    transition: all 0.2s;
    width: 100%;
  }

  .task-item:hover {
    box-shadow: rgba(0, 0, 0, 0.233) 0px 0px 3px;
  }

  .id-column {
    text-align: center;
  }

  .id {
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 10px;
    cursor: default;
  }

  .task-name {
    font-weight: 600;
    font-size: 1rem;
    border: none;
    width: 250px;
    text-align: center;
    transition: all 0.2s;
  }

  .task-name:focus {
    outline: none;
    background-color: #52525231;
    border-radius: 5px;
  }

  .middle-button {
    margin-right: 1px;
    margin-bottom: 1px;
    font-size: 0.75rem;
    height: 30px;
    width: 85px;
  }

  .date-button {
    width: 135px;
  }

  .padding {
    margin-bottom: 10px;
  }

  .complete-delete {
    font-size: 0.75rem;
    height: 30px;
  }
}

@media(min-width: 768px) { /* Tablet */
  .task-item {
    margin-bottom: 20px;
    height: 90px;
    border: #D4D4D5 solid 1px;
    border-radius: 5px;
    padding-right: 10px;
  }

  .padding {
    margin-bottom: 0px;
  }

  .id {
    font-size: 0.75rem;
    margin-bottom: 7px;
    margin-left: -10px;
  }

  .task-name {
    font-size: 0.75rem;
    text-align: left;
    margin-right: 70px;
    margin-left: -5px;
  }

  .complete-delete {
    margin-left: 5px;
  }

  .date-button {
    margin-left: 5px;
  }

}




